[user]
	name = João Cunha
	email = joao.cunha@shine.co
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIONgHujT0ls3Ll8bOYTIGjX5Y/bHVWJtGKRytYjxsjpx
[color]
  # Enable colors in color-supporting terminals
  ui = auto
[core]
	excludesfile = ~/.gitignore_global
	mergeoptions = --no-edit
[diff]
	tool = idea
	guitool = idea
[merge]
	tool = idea
	guitool = idea
[mergetool "idea"]
	cmd = idea merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[commit]
	gpgsign = true
	template = ~/.stCommitMsg
[gitflow "hotfix.finish"]
	message = Hotfix %tag%
[gitflow "release.finish"]
  message = Release %tag%
[protocol]
	version = 2
[init]
	defaultBranch = master
[pull]
	rebase = false
[fetch]
	prune = true
[status]
	short = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/crawling/.config/git/allowed_signers
[maintenance]
	repo = ~/work/cloudware-business
[include]
	path = ~/.gitconfig_local
[url "git@github-ageras:ageras-com/"]
    insteadOf = git@github.com:ageras-com/
[url "git@github-shine-cloudware:shine-cloudware/"]
    insteadOf = git@github.com:shine-cloudware/
