[submodule "dotfiles-private"]
	path = dotfiles-private
	url = git@github.com:crawlingcity/dotfiles-private.git
[submodule "private"]
	branch = master
	update = merge
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/LazyVim/starter.git
