#!/bin/zsh

# lazy-load rbenv on first use
rbenv() {
  unset -f rbenv
  eval "$(command rbenv init - zsh)"
  rbenv "$@"
}

cdf() {
 local dir
 dir=$(fd --type d --hidden --exclude .git ${1:-.} 2>/dev/null | fzf +m) &&
 cd "$dir"
}

nvm() {
  unset -f nvm
  if [[ "$OSTYPE" == "darwin"* ]]; then
    [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"
    [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"
  elif [[ "$OSTYPE" == "linux-gnu"* ]]; then
    [ -s "$HOME/.nvm/nvm.sh" ] && \. "$HOME/.nvm/nvm.sh"
    [ -s "$HOME/.nvm/bash_completion" ] && \. "$HOME/.nvm/bash_completion"
  fi
  nvm $@
}

sdk() {
  unset -f sdk
  [[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
  sdk $@
}

# homelab
sshKeysHelper() {
  python ~/homelab/helpers/sshkeys.py $1
}
