#!/bin/zsh
fd() {
 local dir
 dir=$(find ${1:-.} -path '*/\.*' -prune -o -type d \
      -print 2> /dev/null | fzf +m) &&
 cd "$dir"
}

nvm() {
  unset -f nvm
  [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \\. "/opt/homebrew/opt/nvm/nvm.sh"
  [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \\. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"
  nvm $@
}

sdk() {
  unset -f sdk
  [[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
  sdk $@
}

# ollama
# start ollama brew service if its not running, stop if it is running, if theres params, use normal ollama command
# ollama() {
#   if [ ! -z "$1" ]; then
#     if [ -z "$(brew services list | grep ollama | grep -v 'none')" ]; then
#       echo -e "Starting ollama service"
#       brew services start ollama
#     fi
#     /opt/homebrew/bin/ollama $@
#   else
#     if [ -z "$(brew services list | grep ollama | grep -v 'none')" ]; then
#       echo -e "Starting ollama service"
#       brew services start ollama
#     else
#       echo -e "Stopping ollama service"
#       brew services stop ollama
#     fi
#   fi
# }

# homelab
sshKeysHelper() {
  python ~/homelab/helpers/sshkeys.py $1
}
